h1 {
	color: rgba(150, 10, 100, .8);
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 2px solid rgb(255, 100, 80);
}

li {
	color: rgb(240, 0, 100);
}

h4 {
	background: rgb(255, 100, 80);
}

body {
	background: url(https://images3.campingworld.com/CampingWorld/images/products/13000/425x425/woodgrain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}