h1 {
	text-align: center;
}

#topLeft {
	margin: 0 auto auto 0;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#topCenter {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#topRight {
	border-bottom: 1px solid black;
}

#midLeft {
	margin: 0 auto auto 0;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#midCenter {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#midRight {
	border-bottom: 1px solid black;
}

#bottomLeft {
	margin: 0 auto auto 0;
	border-right: 1px solid black;
}

#bottomCenter {
	border-right: 1px solid black;
}
